.card {
    flex-basis: calc(100vw - 40px);

    margin: 10px;
}

.card-blank {
    height: 197.433px;
}

.card-development-type-b,
.card-blank {
    flex-basis: calc(50vw - 40px);

    margin: 10px;
}

.last-card-development-type-b-container {
    display: flex;
    flex-flow: row nowrap;

    flex-basis: calc(100vw - 40px);
}

.card a,
.card-development-type-b a {
    text-decoration: none;
    color:#303030;
}

.card h3,
.card-development-type-b h3 {
    font-weight: 600;
}

.card-type-1-caption-background {
    width: 50px;
    height: 50px;

    background-color: #C7488E;
}

.card-type-1-caption-background img {
    width: 100%;
    height: 100%;
}

.card-type-2-caption-background-a {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 20px;
    width: 50px;
    height: 50px;

    border-radius: 25px;

    background-color: #0070c0;

    color: #fff;
    font-size: 22px;
}

.card-type-2-caption-background-b {
    width: 50px;
    height: 50px;
}

.card-type-2-caption-background-b img {
    width: 100%;
    height: 100%;

    filter: brightness(0) saturate(100%);
}

.card-sandbox-environment-type-a,
.card-development-type-a {
    background-color: #C5A2FD;
}

.card-sandbox-environment-type-a > a > div > div,
.card-sandbox-environment-type-b > a > div > div,
.card-sandbox-environment-type-a > a > div > section,
.card-sandbox-environment-type-b > a > div > section {
    padding: 10px;
}

.card-sandbox-environment-type-b > a > div > div {
    padding-top: 50px;
}

.card-development-type-b > a > div > div {
    padding-top: 30px;
}

.card-development-type-b > a > div > section {
    padding-bottom: 30px;
}

.card-sandbox-environment-type-a a > div > div,
.card-sandbox-environment-type-b a > div > div,
.card-development-type-b > a > div > div  {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.card-sandbox-environment-type-a .card-body,
.card-sandbox-environment-type-b .card-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    color:#FFF;
}

.card-development-type-b .card-body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.card-development-type-a img {
    width: 100%;
}

.card-development-type-a .card-body {
    padding: 10px;

    color: #FFF;
}

.card-development-type-a .card-body div div:first-child {
    justify-content: center;
}

.card-development-type-a .card-body div div:last-child {
    flex: 0 0 35px;
}

.card-development-type-a .card-body div div:last-child p {
    font-size: 27px;
}

.card-sandbox-environment-type-a p,
.card-sandbox-environment-type-b h3 {
    text-align: center;
}

.card-sandbox-environment-type-b h3 {
    font-weight: 400;
}

.card-sandbox-environment-type-b {
    background-color: #E1C092;
}

.card-sandbox-environment-type-b img {
    height: 50px;
    filter: invert(100%)
}

.card-development-type-b {
    background-color: #F2F2F2;
}

.card-blank {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-development-type-b > a > div > div > img {
    height: 50px;
}

.card-development-type-b > a > div > section > div > img {
    height: 25px;
}

@media (min-width: 576px) {
    .card {
        flex-basis: calc(50vw - 38.4929px);
    }

    .card-development-type-b,
    .card-blank {
        flex-basis: calc(33.33vw - 32.299px);
    
        margin: 10px;
    }

    .last-card-development-type-b-container {
        flex-basis: calc(66.66vw - 25px);
    }
}

@media (min-width: 768px) {
    .card {
        flex-basis: 218px;
    }
    
    .card-development-type-b,
    .card-blank {
        flex-basis: 145px;
    }

    .last-card-development-type-b-container {
        flex-basis: 330px;
    }
} 

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
