@media (min-width: 768px) {
    .page-layout {
        display: grid;
        grid-template-columns: 100px auto;
        grid-template-rows: 57px calc(100vh - 57px);

        height: 100%;
    }

    .page-layout main {
        height: 100%;
        width: 100%;

        overflow: auto;
        
        background-color: #FFF;
    }
} 